*{ margin:0; padding:0;}
	li{ list-style:none;}
	li{ float:left; width:200px;; margin:10px;}
	li img{ width:100px; height:100px}
	p{ height:30px;line-height:30px;text-indent:1em;font-weight:bold; border-bottom:1px #333 dashed;}
	#div1{ width:600px; border:1px #000 solid; height:300px; clear:both;}
	.box1{ float:left; width:200px;}
	.box2{ float:left; width:200px;}
	.box3{ float:left; width:200px;}
	#allMoney{ float:right;}